<% include ../partials/header2 %>

    <div class="backgroundContainer"> </div>
    <div class="containerChange">
        <h1 id="bold">travel</h1>
        <h2 class="below">ADVENTURE AWAITS</h2>
        <a id="view" href="/hotels/new">ADD NEW HOTELS</a>





        <div class="row" style="display:flex; flex-wrap: wrap;">
            <%hotels.forEach(function(el){%>
                <div class="col-md-3 col-sm-6">
                    <div class="imgContainer">
                        <a class="imgHover" href="/hotels/<%=el._id%>">
                            <img class="img-fluid img-thumbnail text-center" src="<%=el.image%>">
                        </a>


                        <div class="name">
                            <%=el.name%>
                        </div>

                        <!-- <p>
                                <a href = "/hotels/<%=el._id%>" class = "btn btn-primary">Show Info</a>
                            </p> -->

                    </div>

                </div>
                <% })%>
        </div>

    </div>




    <% include ../partials/footer2 %>