<% include ./partials/header3 %>
  <div class="backgroundContainer"></div>
  <h1 style="text-align: center;">SIGN UP</h1>
  <div class="container2">
    <form action="/register" method="post">
      <div class="form-group">
        <input class="box" type="text" name="username" placeholder="username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'username'">
      </div>
      <div class="form-group">
        <input class="box" type="password" name="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
      </div>
      <div class="form-group">
        <button class = "but">submit</button>
      </div>
    </form>
    <a class = "back" href="/hotels">Go Back</a>
  </div>

  <% include ./partials/footer %>