<% include ../partials/header %>


    <div class="container">
            <header class="jumbotron">
                <h1>Welcome To Travel!</h1>
                <p>View our hand-picked travel sites from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Travel Sites</a>

                </p>

            </header>


        <div class="row">
            <div class="col-lg-12">
                <h3>Our Most Popular Travel Sites!</h3>
            </div>
        </div>

        <div class="row" style="display:flex; flex-wrap: wrap;">
            <%campgrounds.forEach(function(el){%>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <img class="img-fluid img-thumbnail text-center" src="<%=el.image%>">


                        <div class="caption text-center">
                            <h5>
                                <%=el.name%>
                            </h5>
                            <p>
                                <a href = "/campgrounds/<%=el._id%>" class = "btn btn-primary">Show Info</a>
                            </p>

                        </div>
                    </div>

                </div>
                <% })%>
        </div>


        <% include ../partials/footer %>
    </div>