.img-thumbnail{
    width: 100%;
    padding: 0;
}

.container{
    padding: 10px;
}

.caption-full{
    padding: 9px;
}

.btn-warning{
    color: white;
}

#delete-form{
    display: inline;
}

.card{
    padding: 20px;
    background: #f7f7f7;
}

.text-right{
    padding-bottom: 20px;
}

#map{
    height: 400px;
    width: 100%;
}

#test2{
    margin-bottom: 10px;
}